

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(0, 43, 56) 
}

.row{
  margin: 0!important;
}
.container-fluid{
  background-color:#984B43;
}

ul{
  font-size: 14px;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
}


#home h1{
	text-align: center;
  color:white;
	font-style: arial;
}
.item img{
  max-height: 800px;
}

h2{

	text-align: ce;
	color: #984B43;

	
}

h3{

	float:left;
	color: #802BB1;
	text-align: center;

	
}
#about{
	color:black;
	padding: 10px;
  padding-top: 100px; 
  padding-bottom: 100px; 
	background-color: #f1f1f1; 
}
section.farida
{
	width:50%;
	float:left;
	margin-left: 10px;
	height:90%;
	margin-top: 20px;
	padding-right: 0px


}


section.amina

{
  
	float:right;
	margin-right: 10px;
	margin-top: 20px;
	padding-right: 0px;
	text-align: justify;
  }
  
.flask{
	float: right;
	padding: 13px;
	color: #984B43;
	text-align: justify;
}
	

	.flow{
float: right;
	padding: 13px;
	color: #984B43;
	text-align: justify;
		

	}

#home{
	width: 100%;
}

#four{

	width: 50%;
 	border-radius: 50px;
 	padding: 10%;
 	

 }
 .kareh img{
 	width: 50%;
 	border-radius: 20%;
 	padding: 10px;
 	display: block;
    margin-left: auto;
    margin-right: auto;

 }

 .atei img{
 	width: 50%;
 	border-radius: 20%;
 	padding: 10px;
 	display: block;
    margin-left: auto;
    margin-right: auto;

 }


 #gallery{
	background-color: white;
	width: 100%;
  padding-bottom: 80px; 
	padding-top: 80px;

	
}


.ivy img{
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  min-height: 219px;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #984B43;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.two p{
	position: relative;
	font-weight: bold;
	font-size: 20px;
	color:#984B43; 


}
 .two{
   margin-top: 50px;
 }


.three p{
	position: relative;
	font-weight: bold;
	font-size: 20px;
	color:#984B43; 
}


.four{

position: relative;
	bottom: 10px;
	font-weight: bold;
}

.leah a{
	position: relative;
	font-weight: bold;
}


hr{
	border: 3px solid #233237;
  width: 8%;
  margin-top: -11px !important;

}

#contact{ 
  background-color: #f1f1f1;
	width: 100%;
  padding-bottom: 100px;
  padding-top: 100px; 
	
	
}
.well{
  background-color: #fff !important; 
}

.chupa{
	color: #984B43;
  font-size: 12px;
  padding-bottom: 100px; 
}

.chix{
    display:flex;
    justify-content:center;
}
.chix .box {
    position:relative;
    width: 300px;
    height:100px;
    box-sizing:border-box;
    text-align:center;
    margin:0 10px;
    background:#00171d;
    overflow:hidden;
    border-radius:4px;
    box-shadow:0 0 0 2px rgba(0,7,10,1);
}
.chix .box .icon {
    width:100%;
    height:100%;
    background:#00171d;
    transition: 0.5s;
}
.chix .box .icon .fa {
    font-size: 4em;
    line-height:100px;
    color: #984B43;
}
.chix .box:hover .icon {
    transform:scale(0);
}
.chix .box .details {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#233237; 
    transition:0.5s;
    transform:scale(2);
    opacity:0;
}
.chix .box:hover .details {
    transform:scale(1);
    opacity:1;
}
.chix .box .details h3 {
    margin:0;
    padding:0;
    line-height:100px;
    font-size:24px;
    color:#fff;
}
.chix .box .details:nth-child(2) .details {
    background:#e91e63;
}
.chix .box .details:nth-child(2) .details {
    background:#607d8b;
}

.mueni{
  background-color:#984B43;
  height: 80px; 
  width: 100%;
  color:#fff; 
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: serif;
  text-align:center;

}






